- if current_user?(@person)
  = render :partial => "people/edit_profile_button"
- else
  %a.profile-contact-link{href: "/merchant_store/redirect.html?url=https://#{@person.merchant_canonical_name}.myshopmatic.com", target:"_blank" }
    .content
      = t("people.show.contact", :person => PersonViewUtils.person_display_name_for_type(@person, "first_name_only"))

- if @current_community.follow_in_use? && @current_user && !current_user?(@person)
  = render :partial => "follow_button", :locals => { :person => @person }
